* {
    color: #32050e;
    background-color: #d5d5d5;
}


.welcome {
    text-align: center;
}
img {
    width: 75%;
}

.welcome > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.score {
    font-size: 40px;
    margin-left: 20px;}

button  {
    margin-top: 10px;
}

form {
    margin: 5px;
}

h1 {
    font-family:  "Courgette", cursive;
    font-size: 60px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    font-size: 32px;
}

p, label, input, button{
    font-size: 17px;
    font-family: "roboto condensed", sans-serif;
}

.group {
    display: flex;
    flex-direction: column;

}

.item {
    flex: 1;
    padding: auto;
    margin: auto;
}




@media all and (min-width: 800px) {
    
    h1 {
        padding: 0 10%;
    }
    
    .group {
        flex-direction: row;
    }
    
    .item {
        margin: 5px;
        
    }

    .item-2 {
        flex: 2;
    }

    .align {
        align-self: center;
    }

    img {
        width: 100%;
    }

    .welcome > img  {
        width: 30%;
    }
    button  {
        margin-top: 50px;
    }

    .score {
        font-size: 50px;
        margin-left: 50px;}

  }